/*Global Styles*/
/*
Primary Color:
Secondary Color:
Tertiary Color:
*/
body {
  margin: 0;
}
h1 {
  margin:0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

/*Header Styles*/
header {
  width: 100%;
  height: 90px;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  font-family: 'Catamaran', sans-serif;
  color: white;
}
.logo {
  height: 100%;
  width: 250px;
  float: left;
}
.logo h1 {
  text-align: center;
  padding-top: 25px;
  font-size: 28px;
}

/*Menu Styles*/
.menu {
  height: 100%;
  width: 400px;
  float: right;
  font-size: 20px;
  color: white;
}
.menu li {
  float: left;
  padding: 0 34px;
}
.menu ul {
  padding-top: 28px;
}

/*Section Styles*/
#banner {
  width: 100%;
  height: 700px;
  padding-top: 190px;
  background: url("../img/bw_skyline.jpg");
  background-color: black;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  text-shadow: #000 0px 0px 12px;
}
#banner h1 {
  margin: 0px;
  padding-bottom: 20px;
  font-family: 'Catamaran', sans-serif;
  font-size: 105px;
  color: white;
  text-align: center;
}
#banner p {
  margin: 15px;
  font-family: 'Rokkitt', serif;
  font-size: 50px;
  text-align: center;
}
.chevron-icon {
  height: 12%;
  width: 6%;
  background-color: rgba(0,0,0,0.5);
  margin: 0 auto;
  font-size: 100px;
  border-radius: 100%;
  border: 2px solid;
  padding: 0px 0px 16px 16px;
}

#about {
  width: 100%;
  height: 790px;
  margin: auto;
  background: url("../img/conga.jpeg");
  background-color: black;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Catamaran', sans-serif;
  text-shadow: #000 0px 0px 12px;
}
.about_me {
  height: 100%;
  width: 100%;
  margin-left: 0;
  font-size: 25px;
  color: white;
}
.about_me h1 {
  padding-top: 190px;
  text-align: center;
  font-family: 'Catamaran', sans-serif;
}
.description {
  font-family: 'Rokkitt', serif;
}
.chaplin {
  padding: 0 5%;
  font-style: italic;
}
.about_me p {
  padding: 0 5%;
  text-align: center;
}

#skills {
  width: 100%;
  height: 525px;
  background-color: black;
}
#skills h1 {
  height: 100px;
  width: 150px;
  padding-top: 100px;
  font-family: 'Catamaran', sans-serif;
  font-size: 80px;
  color: white;
}
#skills ul {
  height: 100%;
  width: 100%;
  padding-top: 100px;
  text-align: center;
  font-family: 'Rokkitt', serif;
  font-size: 30px;
  color: white;
}
#contact {
  width: 100%;
  height: 790px;
  padding: 120px;
  background: url("../img/business.jpg");
  background-color: black;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  font-family: 'Catamaran', sans-serif;
  font-size: 60px;
  text-shadow: #000 0px 0px 12px;
}

#map {
  width: 100%;
}
.map-container {
  width: 100%;
  height: 450px;
  margin: 0 auto;
  background-color: #333;
}
#map iframe {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#footer {
  width: 100%;
  height: 150px;
  background-color: black;
}
.copyright p {
  margin: 0;
  padding: 30px 0;
  text-align: center;
  font-size: 30px;
  color: #fff;
}
